header {
    background-color: #171717;
    position: sticky;
    height: 10vh;
    width: 100vw;
    margin: 0px;
    padding: 0;

    ol {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        gap: 2vw;
        li {
            a {
                padding: 10px;
                font-size: larger;
                text-decoration: none;
                font-style: none;
                color: #b3b3b3;
                font-weight: 600;
                border-radius:5%;
                
                &:hover{
                     color: #f5e559;
            text-shadow: #000000 1.2px 0px 3px;
                }
            }
        }
    }
}