 @media screen and (min-width: 601px) {   
 #section2{
    background-color: black;
    height: 100vh;
}
#text{
    display: flex;
    flex-direction: column;
    height: 25vh;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}
#img-container-2{
    margin-top: 5vh;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        position: relative;
       
        width: 80%;
        height: 80%;
    }
} 
 }
@media screen and (max-width: 600px) {    
#section2{
    background-color: black;
    height: 100vh;

}
#text{
    display: flex;
    flex-direction: column;
    height: 50vh;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
    h1{
        margin-bottom: 2vh;
    }
}

#img-container-2{
    margin-top: 7vh;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    img{
        position: relative;
       
        width: 90%;
        height: 40%;
    }


}}