#section2{
    background-color: black;
    height: 100vh;
}
#text{
    display: flex;
    flex-direction: column;
    height: 25vh;
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    justify-content: center;
}
#img-container-2{
    margin-top: 5vh;
    height: 60vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        position: relative;
       
        width: 80%;
        height: 80%;
    }
}
